<%- include("../includes/header.ejs") %> <%- include("../includes/sidebar.ejs") %>

    <div class="wrapper">
      <div class="content-wrapper">
        <!-- Starting Section -->
        <section class="content-header">
          <div class="container-fluid">
            <div class="row mb-2">
              <div class="col-sm-6">
                <h1>Profile</h1>
              </div>
              <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                  <li class="breadcrumb-item active">User Profile</li>
                </ol>
              </div>
            </div>
          </div>
        </section>

        <section class="content">
          <div class="container-fluid">
            <div class="row">
              <!-- Image and Name -->
              <div class="col-md-3">
                <div class="card card-primary card-outline">
                  <div class="card-body box-profile">
                    <div class="text-center">
                      <img class="profile-user-img img-circle img-responsive img-responsive"
                        src="img/userImages/<%= userData.image %>" alt="User profile picture" />
                    </div>
                    <h3 class="profile-username text-center">
                      <%= userData.fullName %>
                    </h3>
                    <p class="text-muted text-center">Software Engineer</p>
                  </div>
                </div>
              </div>

              <div class="col-md-9">
                <div class="card">
                  <div class="card-header p-2">
                    <ul class="nav nav-pills">
                      <li class="nav-item">
                        <a class="nav-link active" href="#activity" data-toggle="tab">Profile</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#settings" data-toggle="tab">Change</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#address" data-toggle="tab">Address</a>
                      </li>
                    </ul>
                  </div>
                  <div class="card-body">
                    <div class="tab-content">
                      <div class="active tab-pane" id="activity">
                        <!-- User Data Card -->
                        <div class="card text-white bg-dark mb-3">
                          <div class="card-header bg-primary">
                            <h5 class="card-title">User Profile</h5>
                          </div>
                          <div class="card-body">
                            <div class="row mb-3">
                              <label for="inputName" class="col-sm-4 col-form-label">Full Name:</label>
                              <div class="col-sm-8">
                                <p class="form-control-plaintext text-light" id="inputName">
                                  <%= userData.fullName %>
                                </p>
                              </div>
                            </div>
                            <div class="row mb-3">
                              <label for="inputEmail" class="col-sm-4 col-form-label">Email:</label>
                              <div class="col-sm-8">
                                <p class="form-control-plaintext text-light" id="inputEmail">
                                  <%= userData.email %>
                                </p>
                              </div>
                            </div>
                            <div class="row mb-3">
                              <label for="inputNumber" class="col-sm-4 col-form-label">Number:</label>
                              <div class="col-sm-8">
                                <p class="form-control-plaintext text-light" id="inputNumber">
                                  <%= userData.number %>
                                </p>
                              </div>
                            </div>
                            <div class="row mb-3">
                              <label for="inputGender" class="col-sm-4 col-form-label">Gender:</label>
                              <div class="col-sm-8">
                                <p class="form-control-plaintext text-light" id="inputGender">
                                  <%= userData.gender %>
                                </p>
                              </div>
                            </div>
                            <div class="row mb-3">
                              <label for="inputDob" class="col-sm-4 col-form-label">Date of Birth:</label>
                              <div class="col-sm-8">
                                <p class="form-control-plaintext text-light" id="inputDob">
                                  <%= userData.formattedDob %>
                                </p>
                              </div>
                            </div>
                            <div class="row mb-3">
                              <label for="inputHobbies" class="col-sm-4 col-form-label">Hobbies:</label>
                              <div class="col-sm-8">
                                <p class="form-control-plaintext text-light" id="inputHobbies">
                                  <%= userData.hobbies %>
                                </p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>




                      <div class="tab-pane" id="settings">

                        <!-- Profile Form -->
                        <form class="form-horizontal" method="post" id="formProfile" enctype="multipart/form-data"
                          action="/profile">

                          <!-- Profile Image -->
                          <div class="form-group row">
                            <label for="inputImage" class="col-sm-2 col-form-label">Profile Image</label>
                            <div class="col-sm-10">
                              <input type="file" class="form-control" name="image" id="inputImage" />
                              <input type="hidden" name="image_old" value="<%= userData.image %>" />
                            </div>
                          </div>

                          <!-- Full Name -->
                          <div class="form-group row">
                            <label for="inputName" class="col-sm-2 col-form-label">Full Name <span
                                class="text-danger">*</span></label>
                            <div class="col-sm-10">
                              <input type="text" class="form-control" id="inputName" name="fullname"
                                placeholder="Full Name" value="<%= userData.fullName %>" />
                            </div>
                          </div>

                          <!-- Email -->
                          <div class="form-group row">
                            <label for="inputEmail" class="col-sm-2 col-form-label">Email <span
                                class="text-danger">*</span></label>
                            <div class="col-sm-10">
                              <input type="email" class="form-control" id="inputEmail" name="email" placeholder="Email"
                                value="<%= userData.email %>" />
                            </div>
                          </div>

                          <!-- Number -->
                          <div class="form-group row">
                            <label for="inputNumber" class="col-sm-2 col-form-label">Number <span
                                class="text-danger">*</span></label>
                            <div class="col-sm-10">
                              <input type="text" class="form-control" id="inputNumber" name="number"
                                placeholder="Number" value="<%= userData.number %>" />
                            </div>
                          </div>

                          <!-- Gender -->
                          <div class="form-group row">
                            <label for="inputGender" class="col-sm-2 col-form-label">Gender</label>
                            <div class="col-sm-10">
                              <label for="male">
                                <input type="radio" name="gender" id="male" value="Male" <% if (userData.gender==="Male"
                                  ) { %>
                                checked <% } %> /> Male
                              </label>
                              <label for="female">
                                <input type="radio" name="gender" id="female" value="Female" <% if
                                  (userData.gender==="Female" ) { %> checked <% } %> /> Female
                              </label>
                            </div>
                          </div>

                          <div class="form-group row">
                            <label for="inputDob" class="col-sm-2 col-form-label">Date of Birth</label>
                            <div class="col-sm-10">
                              <input type="date" class="form-control" id="inputDob" name="dob"
                                value="<%= userData.dob %>" />
                            </div>
                          </div>

                          <div class="form-group row">
                            <label for="inputHobbies" class="col-sm-2 col-form-label">Hobbies</label>
                            <div class="col-sm-10">
                              <label for="singing">
                                <input type="checkbox" name="hobby[]" value="Singing" id="singing" <% if
                                  (userData.hobbies && Array.isArray(userData.hobbies) &&
                                  userData.hobbies.includes('Singing')) { %> checked
                                <% } %> /> Singing
                              </label>

                              <label for="dancing">
                                <input type="checkbox" name="hobby[]" value="Dancing" id="dancing" <% if
                                  (userData.hobbies && Array.isArray(userData.hobbies) &&
                                  userData.hobbies.includes('Dancing')) { %> checked
                                <% } %> /> Dancing
                              </label>

                              <label for="writing">
                                <input type="checkbox" name="hobby[]" value="Writing" id="writing" <% if
                                  (userData.hobbies && Array.isArray(userData.hobbies) &&
                                  userData.hobbies.includes('Writing')) { %> checked
                                <% } %> /> Writing
                              </label>

                              <label for="reading">
                                <input type="checkbox" name="hobby[]" value="Reading" id="reading" <% if
                                  (userData.hobbies && Array.isArray(userData.hobbies) &&
                                  userData.hobbies.includes('Reading')) { %> checked
                                <% } %> /> Reading
                              </label>

                              <label for="swimming">
                                <input type="checkbox" name="hobby[]" value="Swimming" id="swimming" <% if
                                  (userData.hobbies && Array.isArray(userData.hobbies) &&
                                  userData.hobbies.includes('Swimming')) { %>
                                checked <% } %> /> Swimming
                              </label>

                              <label for="travelling">
                                <input type="checkbox" name="hobby[]" value="Travelling" id="travelling" <% if
                                  (userData.hobbies && Array.isArray(userData.hobbies) &&
                                  userData.hobbies.includes('Travelling')) { %>
                                checked <% } %> /> Travelling
                              </label>
                            </div>
                          </div>
                        </form>
                      </div>

                      <div class="tab-pane" id="address">

                        <div id="addressList" class="mt-4">
                          <h5>Select an Address:</h5>
                          <div id="addressOptions"></div>
                        </div>

                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"
                          data-whatever="@mdo">+ Add a new address</button>
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                          aria-hidden="true">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Add New Address</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body">
                                <form method="post" id="formAddress" action="/address">
                                  <div class="form-group">
                                    <label for="name" class="col-form-label">Full name (First and Last name):</label>
                                    <input type="text" class="form-control" id="name" name="name">
                                  </div>
                                  <div class="form-group">
                                    <label for="number" class="col-form-label">Mobile number</label>
                                    <input type="number" class="form-control" id="number" name="number">
                                  </div>
                                  <div class="form-group">
                                    <label for="pincode" class="col-form-label">Pincode</label>
                                    <input type="number" class="form-control" id="pincode" name="pincode"
                                      placeholder="6 digit [0-9] PIN code">
                                  </div>
                                  <div class="form-group">
                                    <label for="hno" class="col-form-label">Flat, House no, Building, Company,
                                      Apartment</label>
                                    <input type="text" class="form-control" id="hno" name="hno">
                                  </div>
                                  <div class="form-group">
                                    <label for="street" class="col-form-label">Area, Street, Sector, Village</label>
                                    <input type="text" class="form-control" id="street" name="street">
                                  </div>
                                  <div class="form-group">
                                    <label for="Landmark" class="col-form-label">Landmark</label>
                                    <input type="text" class="form-control" id="Landmark" name="Landmark">
                                  </div>
                                  <div class="container">
                                    <div class="row">
                                      <div class="col-md-6">
                                        <div class="form-group">
                                          <label for="city" class="col-form-label">Town/City</label>
                                          <select name="city" id="city" class="form-control">
                                            <option value="">Select City</option>
                                            <option value="Ahmedabad">Ahmedabad</option>
                                            <option value="Bengaluru">Bengaluru</option>
                                            <option value="Chennai">Chennai</option>
                                            <option value="Gandhinagar">Gandhinagar</option>
                                            <option value="Jaipur">Jaipur</option>
                                            <option value="Jamnagar">Jamnagar</option>
                                            <option value="Junagadh">Junagadh</option>
                                            <option value="Mumbai">Mumbai</option>
                                            <option value="Pune">Pune</option>
                                            <option value="Surat">Surat</option>
                                          </select>
                                        </div>
                                      </div>
                                      <div class="col-md-6">
                                        <div class="form-group">
                                          <label for="state" class="col-form-label">State</label>
                                          <select name="state" id="state" class="form-control">
                                            <option value="">Select State</option>
                                            <option value="Assam">Assam</option>
                                            <option value="Bihar">Bihar</option>
                                            <option value="Delhi">Delhi</option>
                                            <option value="Goa">Goa</option>
                                            <option value="Gujarat">Gujarat</option>
                                            <option value="Kolkata">Kolkata</option>
                                            <option value="Madhya Pradesh">Madhya Pradesh</option>
                                            <option value="Maharastra">Maharastra</option>
                                            <option value="Punjab">Punjab</option>
                                            <option value="Rajasthan">Rajasthan</option>
                                          </select>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="form-group">
                                    <input type="checkbox" name="isDefault" id="isDefault" class="mr-1">Make this my
                                    default address</label>
                                  </div>
                              </div>
                              </form>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                              <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
      </section>
    </div>

    <%- include("../includes/footer.ejs") %>

      <script>
        $(document).ready(function () {
          $.ajax({
            url: '/address',
            type: 'GET',
            dataType: 'json',
            success: function (data) {
              const addressOptions = $('#addressOptions');
              addressOptions.empty();

              if (data && Array.isArray(data) && data.length > 0) {
                debugger
                data.forEach(function (address) {
                  const radioButton = `
            <div class="form-check">
              <input class="form-check-input" type="radio" name="address" id="address-${address.id}" value="${address.id}">
              <label class="form-check-label" for="address-${address.id}">
                ${address.hno}, ${address.street}, ${address.city}, ${address.state}, ${address.pincode}
              </label>
            </div>
          `;
                  addressOptions.append(radioButton);
                });
              } else {
                addressOptions.html('<p>No addresses available</p>');
              }
            },
            error: function (xhr, status, error) {
              console.error('Failed to fetch addresses:', error);
              $('#addressOptions').html('<p>Failed to load addresses</p>');
            }
          });
        });

      </script>

      </div>