<%- include("../includes/header.ejs") %> <%- include("../includes/sidebar.ejs")
%>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">Add User</h1>
        </div>
      </div>

      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-body">
                  <div class="card card-primary">
                    <% if(user){ %>
                    <div class="card-header bg-success">
                      <h3 class="text-light">Edit User</h3>
                    </div>
                    <% }else{ %>
                    <div class="card-header bg-primary">
                      <h3 class="text-light">Add New User</h3>
                    </div>
                    <% } %>
                    <form action="/add_user" method="post" id="formAddUser">
                      <div class="card-body">
                        <!-- Full Name -->
                        <div class="form-group row">
                          <label for="fname" class="col-sm-2 col-form-label">
                            Full Name <span class="text-danger">*</span>
                          </label>
                          <div class="col-sm-10">
                            <input
                              type="text"
                              class="form-control"
                              id="fname"
                              name="fullName"
                              placeholder="Enter Full Name"
                              value="<%= user ? user.fullName : '' %>"
                              required
                            />
                          </div>
                        </div>

                        <!-- Email -->
                        <div class="form-group row">
                          <label for="email" class="col-sm-2 col-form-label">
                            Email <span class="text-danger">*</span>
                          </label>
                          <div class="col-sm-10">
                            <input
                              type="email"
                              class="form-control"
                              id="email"
                              name="email"
                              placeholder="Enter Email"
                              value="<%= user ? user.email : '' %>"
                              required
                            />
                          </div>
                        </div>

                        <% if (!user) { %>
                        <!-- Password -->
                        <div class="form-group row">
                          <label for="password" class="col-sm-2 col-form-label">
                            Password <span class="text-danger">*</span>
                          </label>
                          <div class="col-sm-10">
                            <input
                              type="password"
                              class="form-control"
                              id="password"
                              name="password"
                              placeholder="Enter Password"
                              required
                            />
                          </div>
                        </div>

                        <!-- Confirm Password -->
                        <div class="form-group row">
                          <label
                            for="cpassword"
                            class="col-sm-2 col-form-label"
                          >
                            Confirm Password <span class="text-danger">*</span>
                          </label>
                          <div class="col-sm-10">
                            <input
                              type="password"
                              class="form-control"
                              id="cpassword"
                              name="cpassword"
                              placeholder="Enter Confirm Password"
                              required
                            />
                          </div>
                        </div>
                        <% } %>

                        <!-- Phone Number -->
                        <div class="form-group row">
                          <label for="number" class="col-sm-2 col-form-label"
                            >Phone Number</label
                          >
                          <div class="col-sm-10">
                            <input
                              type="text"
                              class="form-control"
                              id="number"
                              name="number"
                              placeholder="Enter Number"
                              value="<%= user ? user.number : '' %>"
                            />
                          </div>
                        </div>

                        <!-- Gender -->
                        <div class="form-group row">
                          <label for="gender" class="col-sm-2 col-form-label"
                            >Gender</label
                          >
                          <div class="col-sm-10">
                            <label for="male">
                              <input type="radio" name="gender" id="male"
                              value="Male" <% if (user && user.gender ===
                              "Male") { %> checked <% } %> /> Male
                            </label>
                            <label for="female">
                              <input type="radio" name="gender" id="female"
                              value="Female" <% if (user && user.gender ===
                              "Female") { %> checked <% } %> /> Female
                            </label>
                          </div>
                        </div>

                        <div class="form-group row">
                          <label for="dob" class="col-sm-2 col-form-label"
                            >Date of Birth</label
                          >
                          <div class="col-sm-10">
                            <input
                              type="date"
                              class="form-control"
                              id="dob"
                              name="dob"
                              value="<%= user ? user.dob : '' %>"
                            />
                          </div>
                        </div>

                        <div class="form-group row">
                          <label
                            for="inputHobbies"
                            class="col-sm-2 col-form-label"
                            >Hobbies</label
                          >
                          <div class="col-sm-10">
                            <label for="singing">
                              <input type="checkbox" name="hobby"
                              value="Singing" id="singing" <% if (user &&
                              Array.isArray(user.hobbies) &&
                              user.hobbies.includes('Singing')) { %> checked <%
                              } %> /> Singing
                            </label>

                            <label for="dancing">
                              <input type="checkbox" name="hobby"
                              value="Dancing" id="dancing" <% if (user &&
                              Array.isArray(user.hobbies) &&
                              user.hobbies.includes('Dancing')) { %> checked <%
                              } %> /> Dancing
                            </label>

                            <label for="writing">
                              <input type="checkbox" name="hobby"
                              value="Writing" id="writing" <% if (user &&
                              Array.isArray(user.hobbies) &&
                              user.hobbies.includes('Writing')) { %> checked <%
                              } %> /> Writing
                            </label>

                            <label for="reading">
                              <input type="checkbox" name="hobby"
                              value="Reading" id="reading" <% if (user &&
                              Array.isArray(user.hobbies) &&
                              user.hobbies.includes('Reading')) { %> checked <%
                              } %> /> Reading
                            </label>

                            <label for="swimming">
                              <input type="checkbox" name="hobby"
                              value="Swimming" id="swimming" <% if (user &&
                              Array.isArray(user.hobbies) &&
                              user.hobbies.includes('Swimming')) { %> checked <%
                              } %> /> Swimming
                            </label>

                            <label for="travelling">
                              <input type="checkbox" name="hobby"
                              value="Travelling" id="travelling" <% if (user &&
                              Array.isArray(user.hobbies) &&
                              user.hobbies.includes('Travelling')) { %> checked
                              <% } %> /> Travelling
                            </label>
                          </div>
                        </div>

                        <!-- Role -->
                        <div class="form-group row">
                          <label for="role" class="col-sm-2 col-form-label"
                            >Role</label
                          >
                          <div class="col-sm-10">
                            <select name="role" id="role" class="form-control">
                              <option value="">Select Role</option>
                              <option value="admin">Admin</option>
                              <option value="user">User</option>
                            </select>
                          </div>
                        </div>
                      </div>

                      <!-- Submit Button -->
                      <div class="card-footer">
                        <button
                          type="submit"
                          name="add"
                          class="btn btn-primary"
                        >
                          Add
                        </button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <!-- /.container-fluid -->
  </div>
</div>

<!-- Control Sidebar -->
<aside class="control-sidebar control-sidebar-dark"></aside>

<%- include("../includes/footer.ejs") %>
